@inherits LayoutComponentBase

<header class="top-row py-3">
    <a style="color:white" class="text-xl-center">后台管理系统</a>
    <div class="text-md-right">
        <LoginDisplay></LoginDisplay>
    </div>

</header>

<section class="section">
    <div class="sidebar">
        <NavMenu />
       
    </div>

    <div class="main">
        <div class="content p-3">
            @Body
        </div>
    </div>
</section>

<footer></footer>
